* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  background-color: hsl(220, 10%, 98%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 900;
}

input,
label,
button {
  display: block;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
